/* 초기화 */
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(media_questions.css);
@import url(css_questions);
*,
:after,
:before {
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
div {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-family: "Noto Sans KR";
}
h1 {
  font-size: 17px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  background: #ccc;
}

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: ccc; /*고정바 확인용 */
}

.header .header-box {
  overflow: hidden;
  padding: 0px 10px;
}
.header h1 {
  float: left;
}

.header h1 a {
  display: block;
  padding: 10;
  color: #000;
}
.header h1 a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  background: #ccc;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.header .gnb {
  width: 400px;
  margin: 0 auto;
}
.header .gnb > ul {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 8px;
}
.header .gnb > ul > li {
  float: left;
  margin: 0 10px;
}
.header .gnb > ul > li > a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.header .gnb > ul > li > a:hover {
  color: #6c5ce7;
}
.header .tnb {
  float: right;
  margin-top: 11px;
}
.header .tnb > ul > li {
  float: left;
  display: block;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a {
  display: inline;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a:hover {
  color: #6c5ce7
}

.footer {
  background: #fff;
  position: relative;
  bottom: 0;
}
.footer > div {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.footer > div > div {
  float: left;
}
.footer > div > div.f-logo {
  padding: 15px;
  margin: 10px;
}
.footer > div > div.f-logo h1 a {
  color: #000;
}
.footer > div > div.f-copy {
  padding: 10px;
  margin: 20px;
  color: #000;
}

.contents {
  position: relative;
  top: 300px;
  height: 100vh;
  width: 80vw;
  left: 180px;
}
/*게시판 만들기 */

.board_wrap {
  width: 1000px; /* 가로 1000px 줌 */
  margin: 100px auto; /* auto는 가운데정렬 */
}

.board_title {
  margin-bottom: 30px; /* 타이틀 밑에 30px 공간을 줌 */
}

.board_title strong {
  font-size: 3rem; /* 타이틀 안에 strong을 쓴 부분에 글자 크기를 3rem으로 설정. rem은 최상위 태그 html에 3을 곱한 값*/
}

.board_title p {
  margin-top: 5px;
  font-size:  1.4rem;
}

.bt_wrap {
  margin-top: 30px;
  font-size: 0;
  text-align: center; /* a태그를 중앙 정렬시키는데 글자도 상속받기때문에 중앙정렬 */
}

.bt_wrap a {  /* 클래스 bt_wrap 안의 모든 a 태그 */
  display: inline-block;
  min-width: 80px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.bt_wrap a:first-child { /* 첫번째 a태그는 */
  margin-left: 0;
}

.bt_wrap a.on { /* bt_wrap 클래스 안에 a태그 클래스 on 에 대해 설정 */
  background: #000;
  color: #fff;
}