/* 초기화 */
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(media_questions.css);
@import url(css_questions);
*,
:after,
:before {
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
div {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-family: "Noto Sans KR";
}
h1 {
  font-size: 17px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  background: #ccc;
}

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: ccc; /*고정바 확인용 */
}

.header .header-box {
  overflow: hidden;
  padding: 0px 10px;
}
.header h1 {
  float: left;
}

.header h1 a {
  display: block;
  padding: 10;
  color: #000;
}
.header h1 a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  background: #ccc;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.header .gnb {
  width: 400px;
  margin: 0 auto;
}
.header .gnb > ul {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 8px;
}
.header .gnb > ul > li {
  float: left;
  margin: 0 10px;
}
.header .gnb > ul > li > a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.header .gnb > ul > li > a:hover {
  color: #6c5ce7;
}
.header .tnb {
  float: right;
  margin-top: 11px;
}
.header .tnb > ul > li {
  float: left;
  display: block;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a {
  display: inline;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a:hover {
  color: #6c5ce7
}

.footer {
  background: #fff;
  position: relative;
  bottom: 0;
}
.footer > div {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.footer > div > div {
  float: left;
}
.footer > div > div.f-logo {
  padding: 15px;
  margin: 10px;
}
.footer > div > div.f-logo h1 a {
  color: #000;
}
.footer > div > div.f-copy {
  padding: 10px;
  margin: 20px;
  color: #000;
}

.contents {
  position: relative;
  top: 100px;
  height: 100vh;
  width: 80vw;
  left: 180px;
}
/*게시판 만들기 */

.board_wrap {
  width: 1000px; /* 가로 1000px 줌 */
  margin: 100px auto; /* auto는 가운데정렬 */
}

.board_title {
  margin-bottom: 30px; /* 타이틀 밑에 30px 공간을 줌 */
}

.board_title strong {
  font-size: 3rem; /* 타이틀 안에 strong을 쓴 부분에 글자 크기를 3rem으로 설정. rem은 최상위 태그 html에 3을 곱한 값*/
}

.board_title p {
  margin-top: 5px;
  font-size:  1.4rem;
}

.bt_wrap {
  margin-top: 30px;
  font-size: 0;
  text-align: center; /* a태그를 중앙 정렬시키는데 글자도 상속받기때문에 중앙정렬 */
}

.bt_wrap a {  /* 클래스 bt_wrap 안의 모든 a 태그 */
  display: inline-block;
  min-width: 80px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.bt_wrap a:first-child { /* 첫번째 a태그는 */
  margin-left: 0;
}

.bt_wrap a.on { /* bt_wrap 클래스 안에 모든 a태그 클래스 on 에 대해 설정 */
  background: #000;
  color: #fff;
}

.board_list {
  width: 100%; /* 부모의 가로 길이만큼 늘어남 */
  border-top: 2px solid #000; /* 상단에만 테두리 들어감 */
}

.board_list > div { /* >(꺽쇠)를 써서 자손 선택이랑 (띄어쓰기)를 써서 자손 선택의 차이점은
                      > 는 부모의 바로 밑 자손만 선택하고, (띄어쓰기)는 부모의 모든 자손 (후손들까지 포함)을 선택함. */
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board_list > div.top {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child { /* 마지막 div 설정 */
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block; /* 가로배치 */
  font-size: 1.4rem;
  text-align: center; /* 각각 칸 가운데 정렬 */
  padding: 15px 0;
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
 }
 
.board_list .title {
  width: 60%;
  text-align: left; /* 제목은 왼쪽정렬 */
 }

 .board_list .top .title {
   text-align: center; /* 클래스 board_list 안의 모든 top클래스 안에 모든 tilte클래스 설정 */

 }
 
.board_list .writer {
  width: 10%;
 }
 
.board_list .date {
  width: 10%;
 }
 
.board_list .count {
  width: 10%;
 }

 /* 버튼 css 설정 */

 .board_page {
   margin-top: 30px;
   text-align: center;
   font-size: 0;
 }

 .board_page a {
   display: inline-block;
   width: 32px;
   height: 32px;
   box-sizing: border-box; /* 박스 사이즈 값을 넣어서 32px 사이즈 안으로 값을 가져라 */
   border: 1px solid #ddd;
   border-left: 0;
   vertical-align: middle; /* 길이가 각각 달라서 긴거에 맞춰서 수평정렬 */
   line-height: 100%;
 }

 .board_page a.bt {
   padding-top: 10px;
   font-size: 1.2rem;
   letter-spacing: -1px; /* 꺽쇠들 끼리 사이를 줄임*/
 }

 .board_page a.num {
   padding-top: 9px;
   font-size: 1.4rem;
 }

 .board_page a.num.on { /* a태그의 num이면서 on클래스를 가진것 설정*/
    border-color: #000;
    background: #000;
    color: #fff;
 }

 .board_page a:first-child {
   border-left: 1px solid #ddd;
 }

.board_view {
  width: 100%;
  border-top: 2px solid #000;
}

.board_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd; /* 점선 */
  font-size: 2rem;
}

.board_view .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.board_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.board_view .info dl:first-child {
  padding-left: 0;
}

.board_view .info dl::before { /* 왼쪽에 말머리꼴이나 그런거 만들때 씀 */
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.board_view .info dl:first-child::before {
  display: none;

}

.board_view .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.board_view .info dl dd {
  margin-left: 10px;
  color: #777;
}

.board_view .cont {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size: 1.4rem;
}