<link rel="stylesheet" href="/style_join.css">

{% block content %}
<h2>회원가입</h2>
<hr>
  <div class="timeline">
    <form id="join-form" action="/auth/join" method="post">
      <ul>
      <div class="input-group">
        <li><label for="join-email">이메일</label></li>
        <li><input id="join-email" type="email" name="email"></li>
      </div>
      <div class="input-group">
        <li><label for="join-nick">닉네임</label></li>
        <li><input id="join-nick" type="text" name="nick"></li>
      </div>
      <div class="input-group">
        <li><label for="join-password">비밀번호</label></li>
        <li><input id="join-password" type="password" name="password" required></li>
      </div>
      <div class="input-group">
        <li><label for="join-nick">학번</label></li>
        <li><input id="join-number" type="text" name="number"></li>
      </div>
      <div class="input-group">
        <li><label for="join-nick">생일</label></li>
        <li><input id="join-birth" type="text" name="birth"></li>
      </div>
      <div class="input-group">
        <li><label for="join-nick">성별</label></li>
        <li><input id="join-gender" type="text" name="gender"></li>
      </div>  
      <div class="input-group">
        <li><label for="join-nick">휴대전화</label>
        <li><input id="join-mobile" type="text" name="mobile"></li>
      </div>
       <li><button id="join-btn" type="submit" class="btn">회원가입</button></li>
    </ul>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}
