<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style_major.css">
</head>
<body>
    <div class="header  fixed" style="inset: 0px auto auto 0px;">
        <div class="header-box">
            <h1>
                <a href="/">
                    <span>TeamName</span>
                </a>
                <!-- <img src="로고이미지 위치" alt> -->
            </h1>
            <div class="tnb">
                <ul>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/login/check">회원가입</a></li>
                    <!-- 
                    <li>로그아웃</li>
                    <li>정보수정</li>
                    -->
                </ul>
            </div>
            <div class="gnb">
                <ul>
                    <li><a href="/intro">조원소개</a></li>
                    <li><a href="/major">전공소개</a></li>
                    <li><a href="/questions">고객센터</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="major_cp_contents">
        <div>
            <ul class = "사이드메뉴">
                <li class = "전공"><a href="">전공</a></li>
                <li ><a href="/major/cp">&ensp;- 컴퓨터프로그래밍전공</a></li>
                <li ><a href="/major/wd">&ensp;- 웹데이터베이스전공</a></li>
                <li ><a href="/major/gc">&ensp;- 스마트게임컨텐츠전공</a></li>
            </ul>
        </div>
        <a href="javascript:void(0)">
             <div class = "screen">
                <div class = "글위">웹데이터베이스전공</div>
                <div class = "글아래">웹2.0기반의 실무형 웹 솔루션 개발자 양성</div>
                <div class = "글아래2">데이터베이스 관리자, 데이터베이스 응용프로그램 개발자 양성</div>
                <div class = "글아래3">IoT기반 모바일 앱 개발자 양성</div>
                <img src= "/image/2.png">
            </div>
        </a>
    </div>

    <div class = "영역1">
        <div class = "영역1_제목">교육내용</div>
        <div class = "영역1_부제목">데이터베이스 관리자와 개발자, 웹솔루션 개발자, 모바일 앱 개발자 양성을 목표로 IT직무의 기초에서부터 심화과정까지 실무능력을 배양할 수 있는 교육과정으로 편성</div>
    </div>

    <div class="footer">
        <div>
            <div class="f-logo">
                <h1><a href="/"><span>TeamName</span></a></h1>
            </div>
            <div class="f-copy">
                <p>copyright(c) TeamName. All Rights Reserved</p>
            </div>
        </div>
    </div>

</body>

</html>