<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style_major.css">
</head>
<body>
    <div class="header  fixed" style="inset: 0px auto auto 0px;">
        <div class="header-box">
            <h1>
                <a href="/">
                    <span>GetPost</span>
                </a>
                <!-- <img src="로고이미지 위치" alt> -->
            </h1>         
            <div class="tnb">
                {% if user and user.id %}
                    <ul>
                        <li>{{ user.nick + '님'}}</li>
                        <li><a href="/mypage">마이페이지</a></li>
                    </ul>
                {% else %}
                <ul>
                    <li><a href="/">로그인</a></li>
                    <li><a href="/join">회원가입</a></li>
                </ul>
                {% endif %}
            </div>        
            <div class="gnb">
                <ul>
                    <li><a href="/intro">조원소개</a></li>
                    <li><a href="/major">전공소개</a></li>
                    <li><a href="/questions">고객센터</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="major_cp_contents">
        <div>
            <ul class="사이드메뉴">
                <li class="전공"><a href="">전공</a></li>
                <li><a href="javascript:void(0)" id = '1' onclick='a(this.id)'>&ensp;- 컴퓨터프로그래밍전공</a></li>
                <li><a href="javascript:void(0)" id = '2' onclick='a(this.id)'>&ensp;- 웹데이터베이스전공</a></li>
                <li><a href="javascript:void(0)" id = '3' onclick='a(this.id)'>&ensp;- 스마트게임컨텐츠전공</a></li>
            </ul>
        </div>
        <a href="javascript:void(0)">
            <div class="screen">
                <div id='11' class="글위">웹데이터베이스전공</div>
                <div id='12' class="글아래">웹2.0기반의 실무형 웹 솔루션 개발자 양성</div>
                <div id='13' class="글아래2">데이터베이스 관리자, 데이터베이스 응용프로그램 개발자 양성</div>
                <div id='14' class="글아래3">IoT기반 모바일 앱 개발자 양성</div>
                <img src="/image/7.jpg">
            </div>
        </a>
    </div>
    <div class="영역1">
        <div class="영역1_제목">교육내용</div>
        <div id='15' class="영역1_부제목"><b>데이터베이스 관리자와 개발자, 웹솔루션 개발자, 모바일 앱 개발자 양성</b>을 목표로<br> IT직무의 기초에서부터 심화과정까지 실무능력을 배양할 수 있는 교육과정으로 편성</div>
    </div>
    <div class="footer">
        <div>
            <div class="f-logo"><h1><a href="/"><span>GetPost</span></a></h1></div>
            <div class="f-copy"><p>영진전문대학교 웹데이터베이스전공</p></div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function a(id) {
            try {
                const res = await axios.post('http://localhost:8001/major', {
                    id,
                });
                console.log(res); //받아오는 db값 확인용
                document.getElementById(11).innerHTML = res.data[0];
                document.getElementById(12).innerHTML = res.data[1];
                document.getElementById(13).innerHTML = res.data[2];
                document.getElementById(14).innerHTML = res.data[3];
                document.getElementById(15).innerHTML = res.data[4];
            }
            catch (err) {
                console.error(err);
            }
        };
    </script>
</body>
</html>