<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style_mypage.css">
    </head>
    <body>
        <div class="header  fixed" style="inset: 0px auto auto 0px;">
            <div class="header-box">
                <h1>
                    <a href="/">
                        <span>GetPost</span>
                    </a>
                    <!-- <img src="로고이미지 위치" alt> -->
                </h1>         
                <div class="tnb">
                    {% if user and user.id %}
                        <ul>
                            <li>{{ user.nick + '님'}}</li>
                            <li><a href="/mypage">마이페이지</a></li>
                        </ul>
                    {% else %}
                    <ul>
                        <li><a href="/">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <!-- 
                            <li>로그아웃</li>
                            <li>정보수정</li>
                            -->
                    </ul>
                    {% endif %}
                </div>        
                <div class="gnb">
                    <ul>
                        <li><a href="/intro">조원소개</a></li>
                        <li><a href="/major">전공소개</a></li>
                        <li><a href="/questions">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class = "큰제목">MY PAGE</div>
            <ul class = "내용">
                <li class = "아이디"><span>이메일</span><span class ="detail">{{ user.email }}</span></li>
                <li class = "이름"><span>이름</span><span class ="detail">{{ user.nick }}</span></li>
                <li class = "비밀번호">비밀번호</li>
                <li><button class = "비밀번호재설정">비밀번호 재설정</button></li>
                <li class = "문의">문의</li>
                <li><button class = "문의"><a href="/questions">Go</a></button></li>
                <li class = "탈퇴">탈퇴</li>
                <li><textarea rows="30" cols= "100" class = "유의사항">탈퇴 유의사항 적는 곳입니다.</textarea></li>
                <li><button class = "탈퇴">탈퇴</button></li>
            </ul>
        </div>

        <div class="footer">
            <div>
                <div class="f-logo"><h1><a href="/"><span>GetPost</span></a></h1></div>
                <div class="f-copy"><p>영진전문대학교 웹데이터베이스전공</p></div>
            </div>
        </div>
    </body>
</html>