<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/style_questions.css">
    </head>
    

    
    <body>
        <div class="header  fixed" style="inset: 0px auto auto 0px;">
            <div class="header-box">
                <h1>
                    <a href="/">
                        <span>TeamName</span>
                    </a>
                    <!-- <img src="로고이미지 위치" alt> -->
                </h1>         
                <div class="tnb">
                    {% if user and user.id %}
                        <ul>
                            <li>{{ user.nick + '님'}}</li>
                            <li><a href="/mypage">마이페이지</a></li>
                        </ul>
                    {% else %}
                    <ul>
                        <li><a href="./login.html">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <!-- 
                            <li>로그아웃</li>
                            <li>정보수정</li>
                            -->
                    </ul>
                    {% endif %}
                </div>        
                <div class="gnb">
                    <ul>
                        <li><a href="/intro">조원소개</a></li>
                        <li><a href="/major">전공소개</a></li>
                        <li><a href="/questions">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class = "board_wrap">
                <div class="board_title">
                    <strong>공지사항</strong>
                    <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
                </div>
                <div class="board_view_wrap">
                    <div class="board_view">
                        <div class="title">
                            글 제목이 들어갑니다.
                        </div>
                        <div class="info">
                            <dl>
                                <dt>번호</dt>
                                <dd>1</dd>
                            </dl>
                            <dl>
                                <dt>글쓴이</dt>
                                <dd>김이름</dd>
                            </dl>
                            <dl>
                                <dt>작성일</dt>
                                <dd>2021.05.30</dd>
                            </dl>                            
                        </div>
                        <div class="cont">
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다<br>
                            글 내용이 들어갑니다

                        </div>
                    </div>
                    
                    <div class="bt_wrap">
                        <a href="/questions" class="on">목록</a>
                        <a href="/questions/edit">수정</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <div class="f-logo"><h1><a href="/"><span>TeamName</span></a></h1></div>
                <div class="f-copy"><p>copyright(c) TeamName. All Rights Reserved</p></div>
            </div>
        </div>
    </body>
</html>