<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/style_questions.css">
    </head>
    

    
    <body>
        <div class="header  fixed" style="inset: 0px auto auto 0px;">
            <div class="header-box">
                <h1>
                    <a href="/">
                        <span>GetPost</span>
                    </a>
                    <!-- <img src="로고이미지 위치" alt> -->
                </h1>         
                <div class="tnb">
                    {% if user and user.id %}
                        <ul>
                            <li>{{ user.nick + '님'}}</li>
                            <li><a href="/mypage">마이페이지</a></li>
                        </ul>
                    {% else %}
                    <ul>
                        <li><a href="/">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <!-- 
                            <li>로그아웃</li>
                            <li>정보수정</li>
                            -->
                    </ul>
                    {% endif %}
                </div>        
                <div class="gnb">
                    <ul>
                        <li><a href="/intro">조원소개</a></li>
                        <li><a href="/major">전공소개</a></li>
                        <li><a href="/questions">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class = "board_wrap">
                <div class="board_title">
                    <strong>공지사항</strong>
                    <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
                </div>
                <div class="board_write_wrap">
                    <form href="/questions/view/:{{id}}?_method=PUT" method="POST">
                        <div class="board_write">
                            <div class="title">
                                <dl>
                                    <dt>제목</dt>
                                    <dd><input type="text" placeholder="제목 입력" value="글 제목이 들어갑니다."></dd>
                                </dl>
                            </div>
                            <div class="info">
                                <dl>
                                    <dt>글쓴이</dt>
                                    <dd><dd><input type="text" placeholder="글쓴이 입력" value="김이름"></dd>
                                </dl>
                                <!--                            <dl>-->
                                <!--                                <dt>비밀번호</dt>-->
                                <!--                                <dd><dd><input type="password" placeholder="비밀번호 입력" value="1234"></dd>-->
                                <!--                            </dl>-->
                            </div>
                            <div class="cont">
                            <textarea placeholder="내용 입력">
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.</textarea>
                            </div>
                        </div>
                    </form>

                    <div class="bt_wrap">
                        <input type="submit" class="on">수정</input>
                        <a href="/questions/view/:{{id}}?_method=DELETE" method="POST" class="on">삭제</a>
                        <a href="/questions/view">취소</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <div class="f-logo"><h1><a href="/"><span>GetPost</span></a></h1></div>
                <div class="f-copy"><p>영진전문대학교 웹데이터베이스전공</p></div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            async function getQuestion(){
                try{
                    const res = await axios.get('/questions/edit/:id');
                    const questions = res.data;
                    console.log(questions);
                    document.getElementById(id).innerHTML = res.data.id;
                    document.getElementById(title).innerHTML = res.data.title;
                    document.getElementById(writer).innerHTML = res.data.writer;
                    document.getElementById(createAt).innerHTML = res.data.createAt;
                } catch (err) {
                    console.error(err);
                }
            }
        </script>
    </body>
</html>