<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/style_questions.css">
    </head>
    <body>
        <div class="header  fixed" style="inset: 0px auto auto 0px;">
            <div class="header-box">
                <h1>
                    <a href="/">
                        <span>GetPost</span>
                    </a>
                    <!-- <img src="로고이미지 위치" alt> -->
                </h1>         
                <div class="tnb">
                    {% if user and user.id %}
                        <ul>
                            <li>{{ user.nick + '님'}}</li>
                            <li><a href="/mypage">마이페이지</a></li>
                        </ul>
                    {% else %}
                    <ul>
                        <li><a href="./login.html">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <!-- 
                            <li>로그아웃</li>
                            <li>정보수정</li>
                            -->
                    </ul>
                    {% endif %}
                </div>        
                <div class="gnb">
                    <ul>
                        <li><a href="/intro">조원소개</a></li>
                        <li><a href="/major">전공소개</a></li>
                        <li><a href="/questions">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class = "board_wrap">
                <div class="board_title">
                    <strong>공지사항</strong>
                    <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
                </div>
                <div class="board_list_wrap">
                    <div class="board_list">
                        <div class="top">
                            <div class="num">번호</div>
                            <div class="title">제목</div>
                            <div class="writer">글쓴이</div>
                            <div class="date">작성일</div>
                            <div class="count">조회</div>
                            
                        </div>
                        <div>
                            <div class="num">5</div>
                            <div class="title"><a href="/questions/view">글 제목이 들어갑니다.</a></div>
                            <div class="writer">김이름</div>
                            <div class="date">2021.05.30</div>
                            <div class="count">36</div>
                        </div>
                        <div>
                            <div class="num">4</div>
                            <div class="title"><a href="/questions/view">글 제목이 들어갑니다.</a></div>
                            <div class="writer">김이름</div>
                            <div class="date">2021.05.30</div>
                            <div class="count">36</div>
                        </div>
                        <div>
                            <div class="num">3</div>
                            <div class="title"><a href="/questions/view">글 제목이 들어갑니다.</a></div>
                            <div class="writer">김이름</div>
                            <div class="date">2021.05.30</div>
                            <div class="count">36</div>
                        </div>
                        <div>
                            <div class="num">2</div>
                            <div class="title"><a href="/questions/view">글 제목이 들어갑니다.</a></div>
                            <div class="writer">김이름</div>
                            <div class="date">2021.05.30</div>
                            <div class="count">36</div>
                        </div>
                        <div>
                            <div class="num">1</div>
                            <div class="title"><a href="/questions/view">글 제목이 들어갑니다.</a></div>
                            <div class="writer">김이름</div>
                            <div class="date">2021.05.30</div>
                            <div class="count">36</div>
                        </div>
                    </div>
                    <div class="board_page">
                        <a href="#" class="bt first"><<</a>
                        <a href="#" class="bt prev"><</a>
                        <a href="#" class="num on">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="bt next">></a>
                        <a href="#" class="bt last">>></a>
                    </div>
                    <div class="bt_wrap">
                        <a href="/questions/write" class="on">등록</a>
                        <!--<a href="#">수정</a>-->
                    </div>
                </div>
            </div>
        
        
        </div>
        <div class="footer">
            <div>
                <div class="f-logo"><h1><a href="/"><span>GetPost</span></a></h1></div>
                <div class="f-copy"><p>영진전문대학교 웹데이터베이스전공</p></div>
            </div>
        </div>
    </body>
</html>