
{% block content %}
<div class="main-container">
	<div class="main-wrap">
	<header>
		<div class="logo-wrap">
			<a href="index.html"><i class="fab fa-android"></i></a>
		</div>
	</header>
	<section class="login-input-section-wrap">
		<form id="login-form" action="/auth/login" method="post">
		<div class="login-input-wrap">	
			<label for="email">이메일</label>
			<input id="email" type="email" name="email" required autofocus>
		</div>
		<div class="login-input-wrap password-wrap">	
			<label for="password">비밀번호</label>
			<input id="password" type="password" name="password" required>
		</div>
		<div class="login-button-wrap">
			<a href="/">
				<button id="login" type="submit" class="btn">로그인</button>
			</a>
		</div>
	
		<span class="line_or">
			<span class="txt_or">또는</span>        
		</span>
		<div class="login-button-wrap1">
				<a id="kakao" href="/auth/kakao" class="btn">카카오톡</a></li>
		</div>
		<div class="login-stay-sign-in">
			<br><br>
			<a href="#"><span>아아디 / 비밀번호 찾기</span></a>
		</div>
	</form>
	</section>
	<section class="Easy-sgin-in-wrap">
	</section>
	</div>
</div>
{% endblock %}


