/* 초기화 */
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
*,
:after,
:before {
  box-sizing: inherit;
}
dd {
  margin-inline-start: 0;
}
html {
  font-size: 10px;
}
div {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-family: "Noto Sans KR";
}
h1 {
  font-size: 17px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  background: #ccc;
}

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: ccc; /*고정바 확인용 */
}

.header .header-box {
  overflow: hidden;
  padding: 0px 10px;
}
.header h1 {
  float: left;
}

.header h1 a {
  display: block;
  padding: 10;
  color: #000;
}
.header h1 a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  background: #ccc;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.header .gnb {
  width: 400px;
  margin: 0 auto;
}
.header .gnb > ul {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 8px;
}
.header .gnb > ul > li {
  float: left;
  margin: 0 10px;
}
.header .gnb > ul > li > a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.header .gnb > ul > li > a:hover {
  color: #6c5ce7;
}
.header .tnb {
  float: right;
  margin-top: 11px;
}
.header .tnb > ul > li {
  float: left;
  display: block;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a {
  display: inline;
  padding: 10px;
  color: #000;
}
.header .tnb > ul > li > a:hover {
  color: #6c5ce7
}


.tnb{
  font-size: 13px;
}

.사이드{
 
  position: fixed;
  top: 60px; left: 10px; bottom: 0px;
  width: 200px;
}
.사이드 .사이드바 ul{
  margin-top: 150px;
  text-align: center;
  background-color: #f1f1f1;
}
.사이드 .사이드바 li a{
  font-size: 20px;
  display: block;
  color: #000;
  text-decoration: none;
}
.사이드 .사이드바 .title{
  font-size: 30px;
  color: white;
  background: #4caf50;
}
.사이드 .사이드바 li a:hover:not(.title){
  background-color: #555;
  color: white;
}
.공백{
  
  position: fixed;
  top: 60px; right: 0; bottom: 0;
  width: 210px;
}
.내용공간{
 
  position: fixed;
  left: 210px; right: 210px; top: 60px; bottom: 0;
}
.내용물 {
  padding-top: 60px;
  padding-left: 20px;
}
.내용물 img{
  width: 350px;
  height: 350px;
  float: left;
}
.내용물 h2{
  font-size: 40px;
  text-align: center;
  margin-top: -10px;
}
.소개글 li{
 font-size: 30px;
 ;
}


