<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="css/style.css">
    </head>
    

    
    <body>
        <div class="header  fixed" style="inset: 0px auto auto 0px;">
            <div class="header-box">
                <h1>
                    <a href="/">
                    <span>TeamName</span>
                    </a>
                    <!-- <img src="로고이미지 위치" alt> -->
                </h1>
                <div class="tnb">
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/login/check">회원가입</a></li>
                        <!-- 
                        <li>로그아웃</li>
                        <li>정보수정</li>
                        -->
                    </ul>
                </div>
                <div class="gnb">
                    <ul>
                        <li><a href="/intro">조원소개</a></li>
                        <li><a href="/major">전공소개</a></li>
                        <li><a href="/questions">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <br><br><br><br>
            <h1>
                로그인 시작
            </h1>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1>
                로그인 끝
            </h1>
        </div>
        <div class="footer">
            <div>
                <div class="f-logo"><h1><a href="/"><span>TeamName</span></a></h1></div>
                <div class="f-copy"><p>copyright(c) TeamName. All Rights Reserved</p></div>
            </div>
        </div>
    </body>
</html>