<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="css/style.css">
    </head>
    

    
    <body>
        <div class="main-container">
            <div class="main-wrap">
            <header>
               <div class="logo-wrap">
                  <a href="/"><i class="fab fa-android"></i></a>
               </div>
            </header>
            <section class="login-input-section-wrap">
               <div class="login-input-wrap">   
                  <input  type="text" placeholder="아이디"></input>
               </div>
               <div class="login-input-wrap password-wrap">   
                  <input  type="password" placeholder="비밀번호"></input>
               </div>
               <div class="login-button-wrap">
                  <input type="button" value="로그인">
               </div>
                  <span class="line_or">
                      <span class="txt_or">또는</span>        
                  </span>
                  <div class="login-button-wrap1">
                  <input type="button" value="카카오톡">
               </div>
                  <div class="login-stay-sign-in">
                      <br><br>
                  <a href="#"><span>아아디 / 비밀번호 찾기</span></a>
               </div>
            </section>
            <section class="Easy-sgin-in-wrap">
              </section>
            </div>
         </div>
    </body>
</html>