<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/style_major.css">
</head>



<body>
    <div class="header  fixed" style="inset: 0px auto auto 0px;">
        <div class="header-box">
            <h1>
                <a href="/">
                    <span>TeamName</span>
                </a>
                <!-- <img src="로고이미지 위치" alt> -->
            </h1>
            <div class="tnb">
                <ul>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/login/check">회원가입</a></li>
                    <!-- 
                    <li>로그아웃</li>
                    <li>정보수정</li>
                    -->
                </ul>
            </div>
            <div class="gnb">
                <ul>
                    <li><a href="/intro">조원소개</a></li>
                    <li><a href="/major">전공소개</a></li>
                    <li><a href="/questions">고객센터</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="major_cp_contents">
        <div>
            <ul class = "사이드메뉴">
                <li class = "전공"><a href="">전공</a></li>
                <li ><a href="/major/cp">&ensp;- 컴퓨터프로그래밍전공</a></li>
                <li ><a href="/major/wd">&ensp;- 웹데이터베이스전공</a></li>
                <li ><a href="/major/gc">&ensp;- 스마트게임컨텐츠전공</a></li>
            </ul>
        </div>

        
        <a href="javascript:void(0)">
             <div class = "screen">
                <div class = "글위">스마트게임컨텐츠전공</div>
                <div class = "글아래">IT융합 및 응용프로그램 개발능력을 갖춘 전문 개발자 양성</div>
                <div class = "글아래2">소프트웨어 산업의 최신 트렌드를 이해하는 QA/GM/CS 실무인력 양성</div>
                <img src= "/public/images/2.png">
            </div>
            
        </a>
        

    </div>

    <div class = "영역1">
        <div class = "영역1_제목">교육내용</div>
        <div class = "영역1_부제목">VR/AR, 게임 및 스마트폰 앱, 웹 개발능력을 갖춘 <b>전문 개발자 양성과</b><br>게임 산업의 최신 트렌드를 이해하는 <b>QA/GM/CS 실무인력 양성을 위한 교육과정</b>으로 편성</div>
        <div class = "영역1_박스">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">IT융합 프로젝트 과정 운영</div>
                            <div class = "영역1_글위2">유니티 및 C# 게임 제작 학습</div>
                            <div class = "영역1_글위3">온라인게임 프로젝트 진행</div>
                            <img src="/public/images/10.png">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">C/Java 프로그래밍 학습</div>
                            <div class = "영역1_글위2">안드로이드 플랫폼 학습</div>
                            <div class = "영역1_글위3">컴퓨터 기반 이론 학습</div>
                            <img src="/public/images/11.png">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">게임 기초 이론</div>
                            <div class = "영역1_글위2">게임운영 및 테스트 실습</div>
                            <div class = "영역1_글위3">ISTQB/CSTS/컴퓨터활용 취득</div>
                            <img src="/public/images/12.png">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class = "영역2">
        <div class = "영역2_제목">주요 취업처</div>
        <div class = "영역2_박스">
            <div>
                <img src="/public/images/1.JPG">
            </div>
            <div>VR/AR, 게임 등 개발 관련업체</div>
            <div>게임 QA/GM/CS 관련업체</div>
            <div>스마트폰 앱, 웹 개발 관련업체</div>
        </div>
    </div>


    <div class="footer">
        <div>
            <div class="f-logo">
                <h1><a href="/"><span>TeamName</span></a></h1>
            </div>
            <div class="f-copy">
                <p>copyright(c) TeamName. All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>

</html>