<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style_major.css">
</head>



<body>
    <div class="header  fixed" style="inset: 0px auto auto 0px;">
        <div class="header-box">
            <h1>
                <a href="/">
                    <span>TeamName</span>
                </a>
                <!-- <img src="로고이미지 위치" alt> -->
            </h1>
            <div class="tnb">
                <ul>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/login/check">회원가입</a></li>
                    <!-- 
                    <li>로그아웃</li>
                    <li>정보수정</li>
                    -->
                </ul>
            </div>
            <div class="gnb">
                <ul>
                    <li><a href="/intro">조원소개</a></li>
                    <li><a href="/major">전공소개</a></li>
                    <li><a href="/questions">고객센터</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="major_cp_contents">
        <div>
            <ul class = "사이드메뉴">
                <li class = "전공"><a href="">전공</a></li>
                <li ><a href="major_cp.html">&ensp;- 컴퓨터프로그래밍전공</a></li>
                <li ><a href="major_wd.html">&ensp;- 웹데이터베이스전공</a></li>
                <li ><a href="major_gc.html">&ensp;- 스마트게임컨텐츠전공</a></li>
            </ul>
        </div>

        
        <a href="javascript:void(0)">
             <div class = "screen">
                <div class = "글위">웹데이터베이스전공</div>
                <div class = "글아래">웹2.0기반의 실무형 웹 솔루션 개발자 양성</div>
                <div class = "글아래2">데이터베이스 관리자, 데이터베이스 응용프로그램 개발자 양성</div>
                <div class = "글아래3">IoT기반 모바일 앱 개발자 양성</div>
                <img src= "major.image/2.png">
            </div>
            
        </a>
        

    </div>

    <div class = "영역1">
        <div class = "영역1_제목">교육내용</div>
        <div class = "영역1_부제목"><b>데이터베이스 관리자와 개발자, 웹솔루션 개발자, 모바일 앱 개발자 양성을 목표로</b><br>IT직무의 기초에서부터 심화과정까지 실무능력을 배양할 수 있는 교육과정으로 편성</div>
        <div class = "영역1_박스">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">DBMS 운용 관리 능력</div>
                            <div class = "영역1_글위2">SQL 작성 및 DB 모델링 능력</div>
                            <img src="major.image/10.png">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">JS기반 웹솔루션 개발 능력</div>
                            <div class = "영역1_글위2">프레임워크기반 솔루션 개발 능력</div>
                            <img src="major.image/11.png">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class = "영역1_screen">
                            <div class = "영역1_글위">안드로이드, iOS 기반</div>
                            <div class = "영역1_글위2">스마트폰과 태블릿 PC용</div>
                            <div class = "영역1_글위3">애플리케이션 개발 능력</div>
                            <img src="major.image/12.png">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class = "영역2">
        <div class = "영역2_제목">주요 취업처</div>
        <div class = "영역2_박스">
            <div>
                <img src="major.image/1.jpg">
            </div>
            <div>웹솔루션 개발업체</div>
            <div>대기업 및 산업체 전산실</div>
            <div>모바일 및 IoT 개발업체</div>
            <div>데이터베이스 관련 업체</div>
        </div>
    </div>


    <div class="footer">
        <div>
            <div class="f-logo">
                <h1><a href="/"><span>TeamName</span></a></h1>
            </div>
            <div class="f-copy">
                <p>copyright(c) TeamName. All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>

</html>